/* Add a blue background color to the top navigation */
.topnav {
    height: 10%;
    background-color: white;
    overflow: hidden;
    border-bottom-style:groove;
    border-bottom-color: grey;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display:inline;
    color: #00004d;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 110%;
    height: 10%;
    opacity: .8;
    font-family: 'Questrial', sans-serif;


}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    height: auto;
}

.frontPic{
  height: 100%auto;

}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/NickInAlaska.jpg");

    /* Set a specific height */
    height: 90%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.preheading{
  font-size: 50%;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #4d2600;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 450%;
}

.aboutmeheading {
  font-family: 'Questrial', sans-serif;
  font-size: 175%;
}

.aboutMeSection{
    display: flex;
}

.intro{
  display:block;
  font-family: 'Quattrocento', serif;
  font-size: 110%;
  line-height: 130%;
  width: 60%;
  float:right;
  margin:auto;

}

.myprojectsheading{
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
}

.tablink1 {
    background-color: #ff751a;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink1:hover {
    opacity: .7;
}

.tablink2 {
    background-color: #0066ff;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink2:hover {
    opacity: .7;
}

.tablink3 {
    background-color: #33cc33;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink3:hover {
    opacity: .7;
}

.tablink4 {
    background-color: #cc0000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink4:hover {
    opacity: .7;
}


/* Set default styles for tab content */
.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}

.pacmanHeading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
  color: #0066ff;
  margin-top: 60px;
  text-align: center;
}

.tetrisHeading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
  color: #33cc33;
  margin-top: 60px;
  text-align: center;
}

.otherProjectsHeading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
  color: #e62e00;
  margin-top: 60px;
  text-align: center;
}

.projectContent{
    display: flex;
}

.tixHeading{
  font-family: 'Questrial', sans-serif;
  font-size: 250%;
  color: #ff751a;
    padding-right:15px;
}

.projectbody{
  /*display: block;*/
  font-size: 20px;
  font-family: 'Quattrocento', serif;
  line-height: 115%;
  color: black;
  margin-left: 5%;
  width: 60%;
}

.experienceBody{
    display:flex;
}


.experience, h1, h3{
  padding-left: 2%;
}

.experienceheading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
}

.experienceheadings {
  font-family: 'Questrial', sans-serif;
  font-size: 90%;
  border-bottom-style:groove;
  border-bottom-color: black;
}

.experienceparagraph {
  font-family: 'Quattrocento', serif;
  font-size: 110%;
  line-height: 130%;
  padding-left: 5%;
  width: 50%;
}

footer{
  text-align: center;
  height: 75%;
  background-color: #00001a;
  /*background: linear-gradient(#00001a, #00001a, #0f1e3e);*/
  /*background-color: #00001a;*/
  padding-top: 10%;
  font-size: 200%;
  color: white;
}

.footerheading{
  font-family: 'Questrial', sans-serif;
  font-size: 80%;
}


.fa {
  padding: 20px;
  /*width: 6%;
  height: 13%;*/
  text-align: center;
  text-decoration: none;
  margin-top:auto;
  margin: 5px 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

.fa-envelope{
  background: red;
  color: white;
}
